{{ define "confirm" }}
<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ translate .language "messages.confirm_title" }}</title>
    <link rel="stylesheet" media="all" href="/assets/style.css" />
  </head>
  <body>
    <main>
      <p>{{ translate .language "messages.confirm_intro" }}</p>
      <section>
        <dl>
          {{ range $key, $value := .attributes }}
            <dt>{{ $key }}</dt>
            <dd>{{ $value }}</dd>
          {{ end }}
        </dl>
      </section>
      <form method="post">
        {{ .csrfField }}
        <button type="submit" class="button primary">{{ translate .language "messages.confirm" }}</button>
      </form>
      <form action="{{ .logoutPath }}" method="post">
        {{ .csrfField }}
        <button type="submit" class="button">{{ translate .language "messages.logout" }}</button>
      </form>
    </main>
  </body>
</html>
{{ end }}
